<%= form_with model: @person, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.check_box :terms_of_service %>
    <%= form.submit %>
  </p>
<% end %>